@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

:root {
  --ff-default: "Karla", sans-serif;

  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1.1rem;
  --fs-400: 1rem;
  --fs-300: 0.95rem;
  --fs-200: 0.85rem;
  --fs-100: 0.825rem;

  --fs-body: var(--fs-200);

  --fw-400: 400;
  --fw-700: 700;

  --clr-primary-1: hsl(71, 73%, 54%);
  --clr-primary-2: hsl(179, 62%, 52%);
  --clr-primary-3: hsl(179, 62%, 43%);

  --clr-neutral-1: hsl(0, 0%, 100%);
  --clr-neutral-2: hsl(204, 43%, 93%);
  --clr-neutral-3: hsl(218, 22%, 67%);
}

/* utilities classes */
.fw-700 {
  font-weight: 700;
}

.txt-primary-1 {
  color: var(--clr-primary-1);
}

.txt-primary-2 {
  color: var(--clr-primary-2);
}

@media screen and (max-width: 769px) {
  .line-height {
    line-height: 2;
  }
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flow > * + * {
  margin-top: var(--flow-spacer, 0.85rem);
}
/* utilities classes */

body {
  font-family: var(--ff-default);
  font-size: var(--fs-body);
  font-weight: var(--fw-400);
  background-color: var(--clr-neutral-2);
  color: var(--clr-neutral-2);
  line-height: 1.6;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  --padding: 1.5rem;

  border-radius: 0.5rem;
  overflow: hidden;
  margin: 2rem;
  max-width: 22rem;
}

.card__title {
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  color: var(--clr-neutral-1);
}

.card__community {
  padding: var(--padding) var(--padding) 2rem;
  background-color: var(--clr-neutral-1);
  color: var(--clr-neutral-3);
}

.card__title--community {
  font-size: var(--fs-600);
  color: var(--clr-primary-3);
}

.accent {
  font-size: var(--fs-300);
  line-height: 1.25;
}

.card__subscription {
  --flow-spacer: 0.3rem;

  font-size: 1rem;
  padding: var(--padding);
  background-color: var(--clr-primary-3);
}

.card__subscription span {
  font-size: var(--fs-800);
  color: var(--clr-neutral-2);
}

.button {
  --flow-spacer: 1.45rem;

  width: 100%;
  padding: 0.7rem 1.5rem;
  font-weight: var(--fw-700);
  color: var(--clr-neutral-1);
  background-color: var(--clr-primary-1);
  border: 0;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0px 20px 30px -20px rgba(0, 0, 0, 0.75);
}

.button:where(:focus, :hover) {
  background-color: hsl(71, 73%, 65%);
}

.card__why-us {
  font-size: var(--fs-100);
  line-height: 1.5;
  padding: var(--padding);
  background-color: var(--clr-primary-2);
}

.card__why-us nav a:where(:focus, :hover) {
  text-decoration: underline;
}

@media screen and (min-width: 769px) {
  :root {
    --fs-body: var(--fs-400);
  }

  .card {
    --padding: 2.5rem;

    max-width: 40rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card__community {
    grid-area: 1 / 1 / 2 / 3;
    padding: var(--padding);
  }

  .card__title--community {
    font-size: var(--fs-700);
  }

  .accent {
    font-size: var(--fs-500);
  }
}
